@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Condensed:wght@300;400&display=swap');


html {
    min-height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    min-height: 100%;
    background: url(../images/garlicandherbs.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
        background-color: rgba(230, 236, 240, 0.7);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 90%;
        max-width: 1100px;
        height: auto;
        max-height: auto;
        margin: 50px auto;
}

#logo {
    margin-top: 30px;
    font-family: 'Agbalumo', sans-serif;
    font-size: 1.7em;
    color: rgba(215, 56, 178);
}

#logo h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.5em;
    font-weight: 300px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 30px;
    font-style: italic;
}

.round-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: darkseagreen;
    box-shadow: 0 0 10px darkseagreen;
    font-size: 1em;
}

#round-button:active {
    transform: scale(0.95);
    background-color: rgba(215, 56, 178, 0.357);
}

.selected {
    background-color: rgba(215, 56, 178, 0.357);

}

#submit-btn {
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1em;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#refresh-btn {
    margin: 20px auto;
    padding: 5px;
    font-size: 1em;
}

#recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#recipes a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px;

}

.recipe-img {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    width: 200px;
    /* adjust as needed */
    height: 200px;
    /* adjust as needed */
    object-fit: cover;
    /* this will ensure the aspect ratio of images is maintained */
}

@media screen and (max-width: 750px) {

.round-button {
    width: 100px;
    height: 100px;
    border: 50%;
}

.recipe-img {
    display: flex;
    flex-direction: column;
}

}