@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

html {
    min-height: 100%;
}

body {
    font-family: 'Agbalumo';
    text-align: center;
    min-height: 100%;
    background: url(../images/garlicandherbs.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
        background-color: rgba(230, 236, 240, 0.7);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 90%;
        max-width: 1100px;
        height: auto;
        margin: 50px auto;
}

#logo {
    margin-top: 30px;
    font-family: 'Agbalumo', sans-serif;
    font-size: 1.7em;
    color: rgba(215, 56, 178);
}

#logo h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 30px;
    font-style: italic;
}

button {
    font-family: "Agbalumo", sans-serif;
    font-size: 1.3em;
}

.round-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(143, 188, 143);
    box-shadow: 0 0 10px rgb(143, 188, 143);
}

#round-button:active {
    transform: scale(0.95);
    background-color: rgba(215, 56, 178, 0.357);
}

.selected {
    background-color: rgba(215, 56, 178, 0.357);
    font-weight: bold;
}

#submit-btn {
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.5em;
}

#submit-btn:active,
#refresh-btn:active {
    background-color: rgba(215, 56, 178, 0.357);
}

#submit-btn,
#refresh-btn {
    color: rgba(215, 56, 178);
    background-color: rgba(230, 236, 240, 0.5);
    border: 3px solid rgb(143, 188, 143);
    border-radius: 10px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#refresh-btn {
    margin: 20px auto;
    padding: 10px;
    font-size: 1.5em;
    display: none;
}

#recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#recipes a {
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
    font-size: 1.3em;
}

.recipe-img {
    display: flex;
    flex-direction:row;
    margin: 5px auto;
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 25px;
    border: 3px ridge rgba(215, 56, 178, .3);
}

@media screen and (max-width: 750px) {

.round-button {
    width: 120px;
    height: 120px;
}


.recipe-img {
    display: flex;
    flex-direction: column;
}

}